.background-image {
    display: flex;
    align-self: flex-start;
    background-color: rgb(37, 35, 35);
    height: 100%;

    .center {
        display: flex;
        flex-direction: column;
        align-items: center;
        
        h1 {
            color: whitesmoke;
        }
        
        button {
            width: 110px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-radius: 12px;
            background-color: whitesmoke;
        }
    }
    
    .margin {
        width: 300px;
        margin: 150px auto auto auto;
    }
}







