.background-image {
    display: flex;
    align-self: flex-start;
    background-color: rgb(37, 35, 35);
}

h1 {
    color: whitesmoke;
}

.custom-size {
    width: 100%;
    height: 100%;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    width: 110px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.margin {
    width: 300px;
    margin: 150px auto auto auto;
}

