.center {
    display: flex;
    flex-direction: column;
}

h1 {
    margin: 15% auto 0 auto;
    font-size: 40px;
}

button {
    margin: 25px auto;
}

button {
    width: 250px;
    height: 60px;
    font-size: large;
    border-radius: 15px;
}

button:hover {
    color: rgb(1, 10, 95);
}